<article>
  <h3>{{ article_title }}</h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. A ea animi iusto? Sapiente repudiandae nostrum commodi
    minus placeat, ipsam nesciunt corporis molestias quisquam incidunt numquam praesentium. Dicta veniam nulla at!
  </p>
</article>
